.banner-main {
  margin: 50px 100px;
}

.kasa-banner {
  width: 100%;
  height: 225px;
  border-radius: 25px;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 1;
}

.banner-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: darken;
  z-index: 0;
}

.banner-txt {
  position: absolute;
  font-size: 48px;
  font-weight: 500;
  color: white;
  width: 100%;
  top: 85px;
  display: flex;
  justify-content: center;
  z-index: 2;
}
