.kasa-banner {
  margin: 15px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kasa-logo {
  width: 10%;
}

.kasa-menu {
  display: flex;
  list-style: none;
  font-family: "Montserrat";
  color: #ff6060;
  font-size: 20px;
}

.kasa-home {
  padding-right: 25px;
}
