/*DROPDOWN PAGE ABOUT*/
.dropdown-main {
  width: 80%;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 25px;
}
.dropdown {
  transform: rotate(0deg);
  transition: 0.5s;
}
.dropdown-open {
  transform: rotate(180deg);
}
.dropdown-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: #fff;
  background: #ff6060;
  border-radius: 5px;
  z-index: 10;
}

.content {
  transition: 0.3s;
  transform: translateY(0);
  color: #ff6060;
  display: flex;
  flex-direction: column;
}
.content-open {
  background: #f6f6f6;
  padding: 16px;
  transform: translateY(0);
  flex-direction: column;
  line-height: 25px;
}

.content-close {
  display: none;
  transform: translateY(-100%);
}

.dropdown-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-txt {
  font-size: 18px;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .dropdown-txt {
    font-size: 12px;
  }

  .content-open {
    line-height: 18px;
    padding: 12px 12px 25px;
  }

  .dropdown-section {
    margin: 0 15px;
  }
}

/*DROPDOWN PAGE HOUSING*/
.housing-dropdown {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
}
