.main-section {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff6060;
}

.error-nbr {
  font-size: 200px;
  font-weight: 700;
}

.error-txt {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 75px;
}

.home-link {
  color: #ff6060;
  font-size: 18px;
  text-decoration: underline;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .error-main {
    margin: 80px 15px;
    padding: 0;
  }

  .error-nbr {
    font-size: 95px;
  }

  .error-txt {
    font-size: 18px;
    margin: 35px 50px;
    text-align: center;
  }

  .home-link {
    font-size: 14px;
    margin-top: 55px;
  }
}
