.footer {
  padding: 35px;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-white {
  width: 10%;
}

.footer-txt {
  font-size: 22px;
  margin-top: 20px;
}

.copyright {
  margin-right: 10px;
}
