.kasa-header {
  height: 70px;
  margin-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.kasa-logo {
  width: 200px;
}

.kasa-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.header-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-transform: none;
  margin-left: 55px;
  font-size: 24px;
  font-weight: 500;
  color: #ff6060;
}

.header-link.active {
  text-decoration: underline;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .kasa-header {
    padding: 0;
    margin: 25px 15px 0;
  }

  .kasa-logo {
    width: 115px;
  }

  .header-link {
    font-size: 14px;
    margin-left: 25px;
    text-transform: uppercase;
  }
}
