.main-section {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.housingAll-section {
  margin: 55px 0 0;
  background-color: #f7f7f7;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-items: center;
  padding: 30px;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .main-section {
    padding: 0 !important;
  }

  .housingAll-section {
    margin: 0 15px;
    padding: 0;
    background-color: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
