.housing-mainPage {
  margin-top: 35px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 1400px) {
  /* HEADER - MENU 
  Réglages affichage sur grands écrans*/
  .housing-mainPage,
  .kasa-header,
  .main-section {
    padding-left: 150px;
    padding-right: 150px;
  }
}

.housing-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 50px;
}

.housing-area {
  display: flex;
  flex-direction: column;
  color: #ff6060;
  font-weight: 500;
}

.housing-title {
  font-size: 36px;
  margin-bottom: 5px;
}

.housing-localization {
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: 400;
}

.housing-tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag-elt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-size: 14px;
  padding: 0 25px;
  height: 25px;
  border-radius: 10px;
  color: white;
  background-color: #ff6060;
}

.housing-host {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.host-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.host-name {
  width: 100px;
  font-size: 18px;
  color: #ff6060;
  margin-right: 15px;
  display: flex;
  flex-wrap: wrap;
  text-align: right;
}

.host-img {
  width: 85px;
  height: 85px;
  border-radius: 50px;
  overflow: hidden;
}

.housing-tag,
.rating {
  margin-top: 15px;
}

/*RESPONSIVE*/
@media only screen and (min-width: 0px) and (max-width: 768px) {
  .housing-section {
    align-items: unset;
  }

  .housing-infos {
    flex-direction: column;
    margin-top: 0;
  }

  .housing-title {
    font-size: 18px;
    line-height: 25px;
  }

  .housing-localization {
    font-size: 14px;
    margin-bottom: 0;
  }

  .tag-elt {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    padding: 0 10px;
    height: 25px;
    border-radius: 5px;
  }

  .housing-host {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .host-name {
    font-size: 12px;
    width: 40%;
    text-align: right;
  }

  .starRed,
  .starGrey {
    width: 20px;
  }

  .host-img {
    width: 55px;
    height: 55px;
    border-radius: 55px;
  }

  .rating {
    margin-top: 0;
  }

  .housing-infos {
    margin-bottom: 30px;
  }

  .housing-dropdown {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }

  .dropdown-main {
    width: 100%;
  }

  .dropdown-txt {
    font-size: 14px;
  }
}
