/*Empty DIV : Eviter qu'avant le chargement complet de la page,
la page 404 NOT FOUND N'APPARAISSE*/

.loader-center {
  position: fixed;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

.loading-page {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #ff6060;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
